<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>OMYMA ROOM CHAT</title>
</head>
<body>
    <div>
        <!-- login -->
        <div id="loginContainer" class="container text-center mt-4" style="height: auto;">
            <h3><%= title %></h3>
            <form id="loginForm">
                <input id="loginButton" type="submit" value="join sekarang" class="btn btn-danger w-100">
            </form>
        </div>
        
        <!-- chat room -->
        <div class="container mt-4" style="height: auto;" id="chatContainer">
            <h3 class="text-center">DISKUSI TERBUKA</h3>
            <form id="chatForm">
                <div id="messageList" class="border" style="height: 400px; text-align: right;"></div>
                <input id="message" type="text" class=" w-100 form-control mt-2">
                <input id="sendMessage" type="submit" value="Kirim Pesan" class="btn btn-danger w-100 mt-2">
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        const chatContainer = document.getElementById('chatContainer')
        const loginContainer = document.getElementById('loginContainer')
        const message = document.getElementById('message')
        const sendMessage = document.getElementById('sendMessage')
        const messageList = document.getElementById('messageList')

        chatContainer.style.display = 'none'

        loginButton.addEventListener('click', (e) => {
            e.preventDefault()
            chatContainer.style.display = 'block'
            loginContainer.style.display = 'none'
        })

        sendMessage.addEventListener('click', (e) => {
            e.preventDefault()
            if (message.value) {
                socket.emit('message', message.value)
                let chatList = document.createElement('p')
                chatList.style.fontSize = '24px'
                chatList.textContent = message.value
                messageList.appendChild(chatList)
                message.value = ''
            }
        })

        socket.on('message', (data) => {
            let broadcast = document.createElement('p')
            broadcast.style.textAlign = 'left'
            broadcast.style.fontSize = '24x'
            broadcast.textContent = data
            messageList.appendChild(broadcast)
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>